# Backend secrets / config
appsettings.json
appsettings.*.json

# User-specific / OS files
*.user
*.suo
*.userosscache
*.sln.docstates
Thumbs.db
.DS_Store

# Frontend build / cache
.angular/
coverage/